<!DOCTYPE html>
<head>
    <title>Quiz-Project</title>
    
    
</head>
<body>
    {% if request.session.Email %}
    {{request.session.Email}} &ensp;|    &nbsp; <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <div>
            
            <a href="{% url 'reg' %}">Register</a> | 
            <a href="{% url 'login' %}">Login</a>
        </div>
        
    
    {% endif %}

    
    <center> 
        <h1>Kaun banega Crore pati</h1>
    </center>
    
    <hr/>
    <center>
        <button ><a href="{% url 'quiz' %}">Start Quiz</a> </button>
        <button><a href="{% url 'admin' %}">Add Questions </a> </button>
        <button><a href="{% url 'history' %}">History </a> </button>
    </center>
    
</body>
</html>
